.crypto-sub-container {
  width: 90%;
  max-width: 800px;
  background-color: #092e33;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.crypto-list {
  list-style-type: none;
  padding: 0;
}

.column-heading-listitem {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 2px solid #00e7ff;
}

.column-heading-listitem .title {
  font-family: 'Roboto';
  font-size: 20px;
  color: #ffffff;
  margin: 0;
}

.currency-titles-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}
